.qToAdd {
  background: #6c5ce7;
  padding: 1% 7%;
  border-radius: 15px;
  margin: 2% 3%;
}

.rButt {
  padding-top: 30px;
}

.butts {
  border-radius: 50px !important;
  margin: 0 10px;
  padding: 0 1% !important;
}
