#side-nav-custom {
  margin-top: 64px;
  padding-top: 5px;
  background-color: rgba(238,238,238,0.3);
}

.collapsible {
  background-color: rgba(238,238,238,0.7);
}

.buttCollapse {
  background-color: white !important;
  color: #2196F3 !important;

}
